firmware/**
*.zip
*.kip1
*.nso0
prod.keys
Atmosphere_Loader_Patch/
Atmosphere_Loader_Patch/**
scripts/__pycache__/
scripts/__pycache__/**
patches/atmosphere/exefs_patches/nifm_ctest/*.ips
patches/atmosphere/exefs_patches/ams_blanker_fix/*.ips
patches/atmosphere/exefs_patches/es_patches/*.ips
hekate_patches/fs_patches.ini
hekate_patches/loader_patches.ini
*changelog.txt