firmware/**
*.zip
*.kip1
*.nso0
*.nro
*.ips
*.nca
*.romfs
*.exefs
*.tik
*.cert
*.nsp
nsp/
nsp/**
temp/
temp/**
patches/**
prod.keys
decrypted_tsec_keygen.bin
scripts/__pycache__/
scripts/__pycache__/**
atmosphere/
atmosphere/**
hekate_patches/fs_patches.ini
hekate_patches/loader_patches.ini
*changelog.txt
dev.keys
package1
package2
sorted_firmware/
sorted_firmware/**
package3_and_stratosphere_extracted/
package3_and_stratosphere_extracted/**
package3
stratosphere.romfs
output/
output/**